In [1]:
import numpy as np
import pandas as pd

In [2]:
url ='https://en.wikipedia.org/wiki/World_population'

In [3]:
tables = pd.read_html(url)

In [4]:
len(tables)

26

In [5]:
tables

[    0                                                  1
 0 NaN  An editor has expressed concern that this arti...,
         World population (millions, UN estimates)[14]  \
                                                     #
 0                                                   1
 1                                                   2
 2                                                   3
 3                                                   4
 4                                                   5
 5                                                   6
 6                                                   7
 7                                                   8
 8                                                   9
 9                                                  10
 10                                                NaN
 11  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                        \
                       Top ten most populous countries
 0                                            China[B]
 1                                               India
 2                                       United States
 3                                           Indonesia
 4                                            Pakistan
 5                                              Brazil
 6                                             Nigeria
 7                                          Bangladesh
 8                                              Russia
 9                                              Mexico
 10                                        World total
 11  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                        \
                                                  2000
 0                                                1270
 1                                                1053
 2                                                 283
 3                                                 212
 4                                                 136
 5                                                 176
 6                                                 123
 7                                                 131
 8                                                 146
 9                                                 103
 10                                               6127
 11  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                        \
                                                  2015
 0                                                1376
 1                                                1311
 2                                                 322
 3                                                 258
 4                                                 208
 5                                                 206
 6                                                 182
 7                                                 161
 8                                                 146
 9                                                 127
 10                                               7349
 11  Notes: ^ 2030 = Medium variant. ^ China exclud...


                                               2030[A]
 0                                                1416
 1                                                1528
 2                                                 356
 3                                                 295
 4                                                 245
 5                                                 228
 6                                                 263
 7                                                 186
 8                                                 149
 9                                                 148
 10                                               8501
 11  Notes: ^ 2030 = Medium variant. ^ China exclud...  ,
                Continent Density(inhabitants/km2) Population(millions)  \
 0                   Asia                    104.1                 4641
 1                 Africa                     44.4                 1340
 2                 Europe                     73.4                  747
 3          South America                     24.1                  430
 4  North America[note 2]                     14.9                  368
 5                Oceania                        5                   42
 6             Antarctica                       ~0            0.004[16]

                                Most populous country  \
 0                      1,439,323,000[note 1] – China
 1                             0206,139,000 – Nigeria
 2  0145,934,000 – Russia;approx. 110 million in E...
 3                              0212,559,000 – Brazil
 4                       0331,002,000 – United States
 5                           0025,499,000 – Australia
 6                                        N/A[note 3]

               Most populous city (metropolitan area)
 0  37,393,000/13,929,000 – Greater Tokyo Area/Tok...
 1                             20,900,000 – Cairo[17]
 2  16,855,000/12,537,000 – Moscow metropolitan ar...
 3  22,043,000/12,176,000 – São Paulo Metro Area/S...
 4  23,724,000/8,323,000 – New York metropolitan a...
 5                                 4,925,000 – Sydney
 6                            1,258 – McMurdo Station  ,
   World population milestones in billions (USCB estimates)                    \
                                                 Population     1     2     3
 0                                               Year        1804  1927  1960
 1                                      Years elapsed           —   123    33


       4     5     6     7     8     9
 0  1974  1987  1999  2011  2024  2042
 1    14    13    12    12    13    18  ,
                                                    0  \
 0  .mw-parser-output .legend{page-break-inside:av...

                                    1
 0  67.5–70 65–67.5 60–65 55–60 50–55  ,
    Rank        Country  Population  % of world         Date  \
 0     1          China  1405834400         NaN  20 Dec 2020
 1     2          India  1371084866         NaN  20 Dec 2020
 2     3  United States   330849267         NaN  20 Dec 2020
 3     4      Indonesia   269603400         NaN   1 Jul 2020
 4     5       Pakistan   220892331         NaN   1 Jul 2020
 5     6         Brazil   212492919         NaN  20 Dec 2020
 6     7        Nigeria   206139587         NaN   1 Jul 2020
 7     8     Bangladesh   169845932         NaN  20 Dec 2020
 8     9         Russia   146748590         NaN   1 Jan 2020
 9    10         Mexico   127792286         NaN   1 Jul 2020

            Source(official or UN)
 0   National population clock[89]
 1   National population clock[90]
 2   National population clock[91]
 3  National annual projection[92]
 4               UN Projection[93]
 5   National population clock[94]
 6               UN Projection[93]
 7   National population clock[95]
 8    National annual estimate[96]
 9  National annual projection[97]  ,
    Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   169850000     143998              1180
 2     3      Lebanon     6856000      10452               656
 3     4       Taiwan    23604000      36193               652
 4     5  South Korea    51781000      99538               520
 5     6       Rwanda    12374000      26338               470
 6     7        Haiti    11578000      27065               428
 7     8  Netherlands    17540000      41526               422
 8     9       Israel     9300000      22072               421
 9    10        India  1371080000    3287240               417,
    Rank         Country  Population  Area(km2)  Density(pop/km2)  \
 0     1           India  1371080000    3287240               417
 1     2        Pakistan   222030000     803940               276
 2     3      Bangladesh   169850000     143998              1180
 3     4           Japan   126010000     377873               333
 4     5     Philippines   109590000     300000               365
 5     6         Vietnam    96209000     331689               290
 6     7  United Kingdom    66436000     243610               273
 7     8     South Korea    51781000      99538               520
 8     9          Taiwan    23604000      36193               652
 9    10       Sri Lanka    21803000      65610               332

   Population trend
 0          Growing
 1          Growing
 2  Rapidly growing
 3    Declining[98]
 4          Growing
 5          Growing
 6           Steady
 7           Steady
 8           Steady
 9          Growing  ,
     Year  Population Yearly change           Density(pop/km2)  \
     Year  Population             %    Number Density(pop/km2)
 0   2020  7795000000          1.1%  81331000               52
 1   2019  7713468000          1.1%  82377000               52
 2   2018  7631091000          1.1%  83232000               51
 3   2017  7547859000          1.1%  83837000               51
 4   2016  7464022000          1.1%  84225000               50
 5   2015  7379797000          1.2%  84506000               50
 6   2014  7295291000          1.2%  84709000               49
 7   2013  7210582000          1.2%  84754000               48
 8   2012  7125828000          1.2%  84634000               48
 9   2011  7041194000          1.2%  84371000               47
 10  2010  6956824000          1.2%  84057000               47
 11  2009  6872767000          1.2%  83678000               47
 12  2008  6789089000          1.2%  83142000               46
 13  2007  6705947000          1.2%  82429000               45
 14  2006  6623518000          1.3%  81611000               44
 15  2005  6541907000          1.3%  80748000               44
 16  2004  6461159000          1.3%  79974000               43
 17  2003  6381185000          1.3%  79412000               43
 18  2002  6301773000          1.3%  79147000               42
 19  2001  6222627000          1.3%  79133000               42
 20  2000  6143494000          1.3%  79255000               41

    Urban population
              Number    %
 0        4378900000  56%
 1        4299439000  56%
 2        4219817000  55%
 3        4140189000  55%
 4        4060653000  54%
 5        3981498000  54%
 6        3902832000  53%
 7        3824990000  53%
 8        3747843000  52%
 9        3671424000  52%
 10       3594868000  51%
 11       3516830000  51%
 12       3439719000  50%
 13       3363610000  50%
 14       3289446000  50%
 15       3215906000  49%
 16       3143045000  48%
 17       3071744000  48%
 18       3001808000  47%
 19       2933079000  47%
 20       2868308000  46%  ,
                   Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                  World   585   660   710   791   978  1262  1650  2521
 1                 Africa    86   114   106   106   107   111   133   221
 2                   Asia   282   350   411   502   635   809   947  1402
 3                 Europe   168   170   178   190   203   276   408   547
 4  Latin America[Note 1]    40    20    10    16    24    38    74   167
 5  North America[Note 1]     6     3     2     2     7    26    82   172
 6                Oceania     3     3     3     2     2     2     6    13

    1999  2008  2010  2012  2050  2150
 0  6008  6707  6896  7052  9725  9746
 1   783   973  1022  1052  2478  2308
 2  3700  4054  4164  4250  5267  5561
 3   675   732   738   740   734   517
 4   508   577   590   603   784   912
 5   312   337   345   351   433   398
 6    30    34    37    38    57    51  ,
                   Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                 Africa  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8
 1                   Asia  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6
 2                 Europe  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7
 3  Latin America[Note 1]   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6
 4  North America[Note 1]   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8
 5                Oceania   0.5   0.5   0.4   0.3   0.2   0.2   0.4   0.5

    1999  2008  2010  2012  2050  2150
 0  13.0  14.5  14.8  15.2  25.5  23.7
 1  61.6  60.4  60.4  60.3  54.2  57.1
 2  11.2  10.9  10.7  10.5   7.6   5.3
 3   8.5   8.6   8.6   8.6   8.1   9.4
 4   5.2   5.0   5.0   5.0   4.5   4.1
 5   0.5   0.5   0.5   0.5   0.6   0.5  ,
          Year    World  Africa    Asia  Europe  Latin America& Carib.[Note 1]  \
 0   70,000 BC  < 0.015     NaN     NaN     NaN                            0.0
 1   10,000 BC        4     NaN     NaN     NaN                            NaN
 2     8000 BC        5     NaN     NaN     NaN                            NaN
 3     6500 BC        5     NaN     NaN     NaN                            NaN
 4     5000 BC        5     NaN     NaN     NaN                            NaN
 5     4000 BC        7     NaN     NaN     NaN                            NaN
 6     3000 BC       14     NaN     NaN     NaN                            NaN
 7     2000 BC       27     NaN     NaN     NaN                            NaN
 8     1000 BC       50     7.0    33.0     9.0                            NaN
 9      500 BC      100    14.0    66.0    16.0                            NaN
 10       AD 1      200    23.0   141.0    28.0                            NaN
 11       1000      400    70.0   269.0    50.0                            8.0
 12       1500      458    86.0   243.0    84.0                           39.0
 13       1600      580   114.0   339.0   111.0                           10.0
 14       1700      682   106.0   436.0   125.0                           10.0
 15       1750      791   106.0   502.0   163.0                           16.0
 16       1800     1000   107.0   656.0   203.0                           24.0
 17       1850     1262   111.0   809.0   276.0                           38.0
 18       1900     1650   133.0   947.0   408.0                           74.0
 19       1950     2525   229.0  1394.0   549.0                          169.0
 20       1955     2758   254.0  1534.0   577.0                          193.0
 21       1960     3018   285.0  1687.0   606.0                          221.0
 22       1965     3322   322.0  1875.0   635.0                          254.0
 23       1970     3682   366.0  2120.0   657.0                          288.0
 24       1975     4061   416.0  2378.0   677.0                          326.0
 25       1980     4440   478.0  2626.0   694.0                          365.0
 26       1985     4853   550.0  2897.0   708.0                          406.0
 27       1990     5310   632.0  3202.0   721.0                          447.0
 28       1995     5735   720.0  3475.0   728.0                          487.0
 29       2000     6127   814.0  3714.0   726.0                          527.0
 30       2005     6520   920.0  3945.0   729.0                          564.0
 31       2010     6930  1044.0  4170.0   735.0                          600.0
 32       2015     7349  1186.0  4393.0   738.0                          634.0

     North America[Note 1]  Oceania              Notes
 0                     0.0      NaN              [116]
 1                     NaN      NaN              [117]
 2                     NaN      NaN                NaN
 3                     NaN      NaN                NaN
 4                     NaN      NaN                NaN
 5                     NaN      NaN                NaN
 6                     NaN      NaN                NaN
 7                     NaN      NaN                NaN
 8                     NaN      NaN  [citation needed]
 9                     NaN      NaN                NaN
 10                    NaN      NaN                NaN
 11                    1.0      2.0                NaN
 12                    3.0      3.0                NaN
 13                    3.0      3.0                NaN
 14                    2.0      3.0                NaN
 15                    2.0      2.0                NaN
 16                    7.0      3.0                NaN
 17                   26.0      2.0                NaN
 18                   82.0      6.0                NaN
 19                  172.0     12.7              [118]
 20                  187.0     14.2                NaN
 21                  204.0     15.8                NaN
 22                  219.0     17.5                NaN
 23                  231.0     19.7                NaN
 24                  242.0     21.5                NaN
 25                  254.0     23.0                NaN
 26                  267.0     24.9                NaN
 27                  281.0     27.0                NaN
 28                  296.0     29.1                NaN
 29                  314.0     31.1                NaN
 30                  329.0     33.4                NaN
 31                  344.0     36.4                NaN
 32                  358.0     39.3                NaN  ,
     0                                                  1
 0 NaN  This section needs additional citations for ve...,
    Year  UN est.(millions) Difference  USCB est.(millions) Difference.1
 0  2005               6542          –                 6473            –
 1  2010               6957        415                 6866          393
 2  2015               7380        423                 7256          390
 3  2020               7795        415                 7643          380
 4  2025               8184        390                 8007          363
 5  2030               8549        364                 8341          334
 6  2035               8888        339                 8646          306
 7  2040               9199        311                 8926          280
 8  2045               9482        283                 9180          254
 9  2050               9735        253                 9408          228,
     Year  World           Asia         Africa       Europe  \
 0   2000   6144  3,741 (60.9%)    811 (13.2%)  726 (11.8%)
 1   2005   6542  3,978 (60.8%)    916 (14.0%)  729 (11.2%)
 2   2010   6957  4,210 (60.5%)  1,039 (14.9%)  736 (10.6%)
 3   2015   7380  4,434 (60.1%)  1,182 (16.0%)  743 (10.1%)
 4   2020   7795  4,641 (59.5%)  1,341 (17.2%)   748 (9.6%)
 5   2025   8184  4,823 (58.9%)  1,509 (18.4%)   746 (9.1%)
 6   2030   8549  4,974 (58.2%)  1,688 (19.8%)   741 (8.7%)
 7   2035   8888  5,096 (57.3%)  1,878 (21.1%)   735 (8.3%)
 8   2040   9199  5,189 (56.4%)  2,077 (22.6%)   728 (7.9%)
 9   2045   9482  5,253 (55.4%)  2,282 (24.1%)   720 (7.6%)
 10  2050   9735  5,290 (54.3%)  2,489 (25.6%)   711 (7.3%)
 11  2055   9958  5,302 (53.2%)  2,698 (27.1%)   700 (7.0%)
 12  2060  10152  5,289 (52.1%)  2,905 (28.6%)   689 (6.8%)
 13  2065  10318  5,256 (51.0%)  3,109 (30.1%)   677 (6.6%)
 14  2070  10459  5,207 (49.8%)  3,308 (31.6%)   667 (6.4%)
 15  2075  10577  5,143 (48.6%)  3,499 (33.1%)   657 (6.2%)
 16  2080  10674  5,068 (47.5%)  3,681 (34.5%)   650 (6.1%)
 17  2085  10750  4,987 (46.4%)  3,851 (35.8%)   643 (6.0%)
 18  2090  10810  4,901 (45.3%)  4,008 (37.1%)   638 (5.9%)
 19  2095  10852  4,812 (44.3%)  4,152 (38.3%)   634 (5.8%)
 20  2100  10875  4,719 (43.4%)  4,280 (39.4%)   630 (5.8%)

    Latin America/Caribbean Northern America    Oceania
 0               522 (8.5%)       312 (5.1%)  31 (0.5%)
 1               558 (8.5%)       327 (5.0%)  34 (0.5%)
 2               591 (8.5%)       343 (4.9%)  37 (0.5%)
 3               624 (8.5%)       357 (4.8%)  40 (0.5%)
 4               654 (8.4%)       369 (4.7%)  43 (0.6%)
 5               682 (8.3%)       380 (4.6%)  45 (0.6%)
 6               706 (8.3%)       391 (4.6%)  48 (0.6%)
 7               726 (8.2%)       401 (4.5%)  50 (0.6%)
 8               742 (8.1%)       410 (4.5%)  53 (0.6%)
 9               754 (8.0%)       418 (4.4%)  55 (0.6%)
 10              762 (7.8%)       425 (4.4%)  57 (0.6%)

In [6]:
tables[0]

    0                                                  1
0 NaN  An editor has expressed concern that this arti...

In [7]:
tables[1]

        World population (millions, UN estimates)[14]  \
                                                    #
0                                                   1
1                                                   2
2                                                   3
3                                                   4
4                                                   5
5                                                   6
6                                                   7
7                                                   8
8                                                   9
9                                                  10
10                                                NaN
11  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                       \
                      Top ten most populous countries
0                                            China[B]
1                                               India
2                                       United States
3                                           Indonesia
4                                            Pakistan
5                                              Brazil
6                                             Nigeria
7                                          Bangladesh
8                                              Russia
9                                              Mexico
10                                        World total
11  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                       \
                                                 2000
0                                                1270
1                                                1053
2                                                 283
3                                                 212
4                                                 136
5                                                 176
6                                                 123
7                                                 131
8                                                 146
9                                                 103
10                                               6127
11  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                       \
                                                 2015
0                                                1376
1                                                1311
2                                                 322
3                                                 258
4                                                 208
5                                                 206
6                                                 182
7                                                 161
8                                                 146
9                                                 127
10                                               7349
11  Notes: ^ 2030 = Medium variant. ^ China exclud...


                                              2030[A]
0                                                1416
1                                                1528
2                                                 356
3                                                 295
4                                                 245
5                                                 228
6                                                 263
7                                                 186
8                                                 149
9                                                 148
10                                               8501
11  Notes: ^ 2030 = Medium variant. ^ China exclud...

In [8]:
tables[1].columns

MultiIndex([('World population (millions, UN estimates)[14]', ...),
            ('World population (millions, UN estimates)[14]', ...),
            ('World population (millions, UN estimates)[14]', ...),
            ('World population (millions, UN estimates)[14]', ...),
            ('World population (millions, UN estimates)[14]', ...)],
           )

In [28]:
world_topten = tables[1]

In [29]:
world_topten = world_topten["World population (millions, UN estimates)[14]"]

In [30]:
world_topten = world_topten.drop(11,axis=0)

In [31]:
world_topten = world_topten.drop('#',axis=1)

In [32]:
world_topten.columns = ['Country','2000','2015','2030 Est.']

In [33]:
world_topten

          Country  2000  2015 2030 Est.
0        China[B]  1270  1376      1416
1           India  1053  1311      1528
2   United States   283   322       356
3       Indonesia   212   258       295
4        Pakistan   136   208       245
5          Brazil   176   206       228
6         Nigeria   123   182       263
7      Bangladesh   131   161       186
8          Russia   146   146       149
9          Mexico   103   127       148
10    World total  6127  7349      8501

In [39]:
world_topten['Country'] = world_topten['Country'].str.replace('\[B\]','')

In [40]:
world_topten

          Country  2000  2015 2030 Est.
0           China  1270  1376      1416
1           India  1053  1311      1528
2   United States   283   322       356
3       Indonesia   212   258       295
4        Pakistan   136   208       245
5          Brazil   176   206       228
6         Nigeria   123   182       263
7      Bangladesh   131   161       186
8          Russia   146   146       149
9          Mexico   103   127       148
10    World total  6127  7349      8501

In [53]:
pip install openpyxl

Requirement already satisfied: openpyxl in g:\programdata\anaconda3\envs\mlds\lib\site-packages (3.0.4)
Requirement already satisfied: jdcal in g:\programdata\anaconda3\envs\mlds\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in g:\programdata\anaconda3\envs\mlds\lib\site-packages (from openpyxl) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [59]:
pip install xlrd==1.2.0

Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 2.0.1
    Uninstalling xlrd-2.0.1:
      Successfully uninstalled xlrd-2.0.1
Successfully installed xlrd-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [60]:
import openpyxl
import xlrd

In [62]:
filepath

'G:\\Mes Documents\\Documents\\Python\\Udemy-Python-for-Machine-Learning-and-Data-Science-Masterclass\\Notes\\03-Pandas'

In [66]:
df = pd.read_excel(filepath+'\\my_excel_file.xlsx',engine='openpyxl',sheet_name='First_Sheet')

In [44]:
filepath = 'G:\\Mes Documents\\Documents\\Python\\Udemy-Python-for-Machine-Learning-and-Data-Science-Masterclass\\Notes\\03-Pandas'

In [67]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [69]:
excel_sheet_dict = pd.read_excel(filepath+'\\my_excel_file.xlsx',engine='openpyxl',sheet_name=None)

In [70]:
excel_sheet_dict

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [71]:
excel_sheet_dict['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [72]:
from sqlalchemy import create_engine

In [73]:
temp_db = create_engine('sqlite:///:memory:')

In [74]:
pd.DataFrame(np.random.randint(0,100,(4,4)),columns=['a','b','c','d'])

    a   b   c   d
0  58  48  86  51
1  49  63  51  51
2  56  35  38  52
3  10  27  46  57

In [75]:
df.to_sql(name='new_table',con=temp_db)